@mixin breakpoint($point) {
  $small: 767px;
  $medium: 1279px;
  $extra-large: 1800px; // Up to 1800px
  @if $point == extra-large {
    @media only screen and (min-width : $large+1) { @content; }
  }
  @else if $point == medium {
    @media only screen and (min-width: $small+1) and (max-width: $medium) { @content; }
  }
  @else if $point == small {
    @media only screen and (max-width: $small) { @content; }
  }
}

.site-footer {
  padding: 24px 0 34px 0;
  .social-links {
      color: $footer-foreground;
      list-style: none;
      padding: 0;
      margin: 0;
      a {        
          font-size: 0.75rem; 
          color: $footer-link-color;
          &:hover {
              color: $footer-link-color;
              text-decoration: underline;
          }
      }
      li {
          display: inline-block;
          padding: 5px;          
          &:hover {
            color: $footer-link-color;
            a {
              text-decoration: underline;
            }
          }
      }
  }
  .copyright {
    font-size: 0.75rem; 
    display: inline;
  }
  .logo {
    max-width: 146px;
    height: auto;
    margin-left: 30px;
  }
  .vm-logo {
    font-size: .75rem;
    color: #777;
    img {
      max-width: 75px;
      margin-left: 30px;
    }
  }
  @include breakpoint(medium) {
    .col-md-5, .col-md-7 {
        max-width: unset !important;
        flex: 0 0 100% !important;
    }
}
  @include breakpoint(small) {
    .text-center {
        text-align: left !important;
    }
    .logo {
        display: none;
    }
    .social-links li {
        width: 23%;
    }
  }
}